﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Flat.master.cs" Inherits="Sammelana_NITR.Pages.Flat" %>

<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head id="Head" runat="server">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<link href="/Base/Lib/normalize/normalize.min.css" rel="stylesheet" type="text/css" />
	<link href="/Base/Lib/html5boilerplate/main.min.css" rel="stylesheet" type="text/css" />
	<link href="/Base/Lib/jquery-ui/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css" />
	<link href="/Base/Lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/Base/Lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
	<script src="/Base/Lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
	<script src="/Base/Lib/jquery-cookie/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="/Base/Lib/jquery-ui/jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script>
	<script src="/Base/Lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/Base/Lib/timepickr/ui.timepickr.js" type="text/javascript"></script>
    <!-- local files -->
	<link href="/Base/Img/Mstr/hdr-logo-sm.png" rel="shortcut icon" type="image/png" />
	<link href="/Mantle/sbStyle.css" rel="stylesheet" type="text/css" />
	<script src="/Mantle/sbScript.js" type="text/javascript" ></script>
	<script type="text/javascript">
	    // on load
	    $(document).ready(function () {
	        // are cookies enabled?
	        $.cookie("_cT", "1");
	        if ($.cookie("_cT") != "1") { $("#NoCookie").show(); }
	        else { $.cookie("_cT", null); }
	    });
	</script>
	<title>Sammelana</title>
	<asp:ContentPlaceHolder ID="Flat_Head" runat="server">
	</asp:ContentPlaceHolder>
</head>
<body>
	<noscript class="sb-msg-imp">This website requires Javascript to operate. Please enable Javascipt support on your browser from Settings.</noscript>
	<div class="sb-msg-imp sb-hdn" id="NoCookie">This website requires Cookies to be enabled. Please enable Cookie support for this site from Settings.</div>
    <div>
	    <asp:ContentPlaceHolder ID="Flat_Body" runat="server">
	    </asp:ContentPlaceHolder>
    </div>
</body>
</html>
