﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.Master.cs" Inherits="Sammelana_NITR.Pages.Sammelana_Main" %>

<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head id="Head" runat="server">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<link href="/Base/Lib/normalize/normalize.min.css" rel="stylesheet" type="text/css" />
	<link href="/Base/Lib/html5boilerplate/main.min.css" rel="stylesheet" type="text/css" />
	<link href="/Base/Lib/jquery-ui/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css" />
	<link href="/Base/Lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/Base/Lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
	<script src="/Base/Lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
	<script src="/Base/Lib/jquery-cookie/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="/Base/Lib/jquery-ui/jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script>
	<script src="/Base/Lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/Base/Lib/timepickr/ui.timepickr.js" type="text/javascript"></script>
    <!-- local files -->
	<link href="/Base/Img/Mstr/hdr-logo-sm.png" rel="shortcut icon" type="image/png" />
	<link href="/Mantle/sbStyle.css" rel="stylesheet" type="text/css" />
	<script src="/Mantle/sbScript.js" type="text/javascript" ></script>
	<script type="text/javascript">
		// on load
		$(document).ready(function () {
		    // are cookies enabled?
			$.cookie("_cT", "1");
			if ($.cookie("_cT") != "1") { $("#NoCookie").show(); }
			else { $.cookie("_cT", null); }
		});
	</script>
	<title>Sammelana</title>
	<asp:ContentPlaceHolder ID="Main_Head" runat="server">
	</asp:ContentPlaceHolder>
</head>
<body>
	<noscript class="sb-msg-imp">This website requires Javascript to operate. Please enable Javascipt support on your browser from Settings.</noscript>
	<div class="sb-msg-imp sb-hdn" id="NoCookie">This website requires Cookies to be enabled. Please enable Cookie support for this site from Settings.</div>
	<div> <!-- header -->
		<div class="sb-hdr">
			<span class="sb-hdr-ttl">
				<a href="/"><asp:Image ID="HdrImg" runat="server" AlternateText="Sammelana" ImageUrl="~/Base/Img/Mstr/hdr-ttl.png" ImageAlign="Top" ToolTip="E-Conference Management System" /></a>
			</span>
			<span id="HdrGst" class="sb-hdr-menu" runat="server">
					<a href="/Pages/Usr/Fetch.aspx" class="btn btn-primary">Sign In</a>
					<a href="/Pages/Usr/AddNew.aspx" class="btn">Sign Up</a>
			</span>
			<div id="HdrUsr" class="sb-hdr-menu" runat="server">
				<a href="/Pages/Usr/Home.aspx" class="sb-block">
					<span><asp:Image ID="UsrPic" runat="server" Width="28px" /></span>
					<span><strong><asp:Label ID="UsrNm" runat="server" Text="Name" CssClass="sb-lnk-norm"></asp:Label></strong></span>
				</a>
			</div>
	   </div>
		<div class="sb-menu">
			<ul>
				<li><a href="/Default.aspx">Home</a></li>
				<li><a href="#">Conferences</a></li>
				<li><a href="#">Features</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</div>
	</div>
	<div class="sb-body"><div class="container">
	<asp:ContentPlaceHolder ID="Main_Body" runat="server">
	</asp:ContentPlaceHolder>
	</div></div>
	<div class="sb-ftr">
		<div>SAMMELANA, E-Conference Management System by National Institute of Technology, Rourkela</div>
		<div>Copyright &copy; 2013, National Institute of Technology, Rourkela. All rights reserved.</div>
		<div class="FooterLinks">
			<a href="/Pages/Cmn/Flat.aspx?Item=Dsclmr" onclick="window.open(this.href,this.target,'height=300,width=750,menubar=no,scrollbars=no,resizable=no');return false;">Disclaimer</a> |
			<a href="/Pages/Cmn/Flat.aspx?Item=Cpyrght" onclick="window.open(this.href,this.target,'height=300,width=750,menubar=no,scrollbars=no,resizable=no');return false;">Copyright</a> | 
			<a href="/Pages/Cmn/Flat.aspx?Item=PrvcyStmnt" onclick="window.open(this.href,this.target,'height=300,width=750,menubar=no,scrollbars=no,resizable=no');return false;">Privacy Statement</a>
		</div>
	</div>
</body>
</html>
