﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Pages/Main.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="Sammelana_NITR.Pages.Usr.Home" %>
<asp:Content ID="Home_Head" ContentPlaceHolderID="Main_Head" runat="server">
</asp:Content>
<asp:Content ID="Home_Body" ContentPlaceHolderID="Main_Body" runat="server">
</asp:Content>
