﻿/* ----------------------------------------------------------
		Alankar, Consistent Web styling CSS
		Copyright (c) 2013, Subhajit Sahu
		All rights reserved.
   ---------------------------------------------------------- */

.sb-btns {
	margin: 5px;
	border: 1px solid #DDDDDD;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-family: "Trebuchet MS", Sans-Serif;
	font-size: 12px;
	font-weight: normal;
	-moz-border-radius: 20%;
	-webkit-border-radius: 20%;
	border-radius: 20%;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	}

body {
	margin: 0px;
}
a.sb-btn {
	padding: 10px;
}
a.sb-btn, .sb-brdr, .sb-brdr-thin, .sb-brdr-med, .sb-brdr-thck {
	border: 1px solid #DDDDDD;
}
.sb-brdr-med {
	border-width: 2px;
}
.sb-brdr-thck {
	border-width: 4px;
}
.sb-brdr-none {
	border-width: 0px;
}
.sb-brdr-rnd-5p {
	-moz-border-radius: 5%;
	-webkit-border-radius: 5%;
	border-radius: 5%;
}
a.sb-btn, .sb-brdr-rnd-10p {
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
	border-radius: 10%;
}
.sb-brdr-rnd-25p {
	-moz-border-radius: 25%;
	-webkit-border-radius: 25%;
	border-radius: 25%;
}
.sb-brdr-rnd-50p {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.sb-brdr, .sb-brdr-rnd-5px {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.sb-brdr-rnd-10px {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.sb-brdr-rnd-25px {
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.sb-brdr-rnd-50px {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.sb-brdr-nornd {
	-moz-border-radius: 0%;
	-webkit-border-radius: 0%;
	border-radius: 0%;
}
.sb-brdr-black {
	border-color: black;
}
.sb-brdr-lblack {
	border-color: #202020;
}
.sb-brdr-vlblack {
	border-color: #404040;
}
.sb-brdr-dgray {
	border-color: #606060;
}
.sb-brdr-gray {
	border-color: gray;
}
.sb-brdr-lgray {
	border-color: #A0A0A0;
}
.sb-brdr-vlgray {
	border-color: #C0C0C0;
}
.sb-brdr-dwhite {
	border-color: #E0E0E0;
}
.sb-brdr-white {
	border-color: white;
}
.sb-brdr-lpurple {
	border-color: #A020A0;
}
.sb-brdr-purple {
	border-color: purple;
}
.sb-brdr-dpurple {
	border-color: #600060;
}
.sb-brdr-lblue {
	border-color: #2020FF;
}
.sb-brdr-blue {
	border-color: blue;
}
.sb-brdr-dblue {
	border-color: #0000D0;
}
.sb-brdr-lgreen {
	border-color: #20A020;
}
.sb-brdr-green {
	border-color: green;
}
.sb-brdr-dgreen {
	border-color: #006000;
}
.sb-brdr-lred {
	border-color: #FF2020;
}
.sb-brdr-red {
	border-color: red;
}
.sb-brdr-dred {
	border-color: #D00000;
}
.sb-brdr-lorange {
	border-color: #FFC520;
}
.sb-brdr-orange {
	border-color: orange;
}
.sb-brdr-dorange {
	border-color: #D08000;
}
.sb-brdr-lnavy {
	border-color: #2020A0;
}
.sb-brdr-navy {
	border-color: navy;
}
.sb-brdr-dnavy {
	border-color: #000060;
}
.sb-brdr-noclr {
	border-color: inherit;
}
.sb-bg-ld-black {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#000000')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404040), color-stop(100%, black));
	background: -webkit-linear-gradient(top, #404040, black);
	background: -moz-linear-gradient(top, #404040, black);
	background: -o-linear-gradient(top, #404040, black);
	background: linear-gradient(top, #404040, black);
}
.sb-bg-dl-black {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#404040');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#404040')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, #404040));
	background: -webkit-linear-gradient(top, black, #404040);
	background: -moz-linear-gradient(top, black, #404040);
	background: -o-linear-gradient(top, black, #404040);
	background: linear-gradient(top, black, #404040);
}
.sb-bg-ld-lblack {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#202020');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#202020')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606060), color-stop(100%, #202020));
	background: -webkit-linear-gradient(top, #606060, #202020);
	background: -moz-linear-gradient(top, #606060, #202020);
	background: -o-linear-gradient(top, #606060, #202020);
	background: linear-gradient(top, #606060, #202020);
}
.sb-bg-dl-lblack {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#202020', endColorstr='#606060');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#202020', endColorstr='#606060')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #202020), color-stop(100%, #606060));
	background: -webkit-linear-gradient(top, #202020, #606060);
	background: -moz-linear-gradient(top, #202020, #606060);
	background: -o-linear-gradient(top, #202020, #606060);
	background: linear-gradient(top, #202020, #606060);
}
.sb-bg-ld-vlblack {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#404040');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#404040')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, gray), color-stop(100%, #404040));
	background: -webkit-linear-gradient(top, gray, #404040);
	background: -moz-linear-gradient(top, gray, #404040);
	background: -o-linear-gradient(top, gray, #404040);
	background: linear-gradient(top, gray, #404040);
}
.sb-bg-dl-vlblack {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#808080');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#808080')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404040), color-stop(100%, gray));
	background: -webkit-linear-gradient(top, #404040, gray);
	background: -moz-linear-gradient(top, #404040, gray);
	background: -o-linear-gradient(top, #404040, gray);
	background: linear-gradient(top, #404040, gray);
}
.sb-bg-ld-dgray {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#A0A0A0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#A0A0A0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606060), color-stop(100%, #A0A0A0));
	background: -webkit-linear-gradient(top, #606060, #A0A0A0);
	background: -moz-linear-gradient(top, #606060, #A0A0A0);
	background: -o-linear-gradient(top, #606060, #A0A0A0);
	background: linear-gradient(top, #606060, #A0A0A0);
}
.sb-bg-dl-dgray {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0A0A0', endColorstr='#606060');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0A0A0', endColorstr='#606060')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A0A0A0), color-stop(100%, #606060));
	background: -webkit-linear-gradient(top, #A0A0A0, #606060);
	background: -moz-linear-gradient(top, #A0A0A0, #606060);
	background: -o-linear-gradient(top, #A0A0A0, #606060);
	background: linear-gradient(top, #A0A0A0, #606060);
}
.sb-bg-ld-gray {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0C0C0', endColorstr='#808080');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0C0C0', endColorstr='#808080')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C0C0C0), color-stop(100%, #808080));
	background: -webkit-linear-gradient(top, #C0C0C0, #808080);
	background: -moz-linear-gradient(top, #C0C0C0, #808080);
	background: -o-linear-gradient(top, #C0C0C0, #808080);
	background: linear-gradient(top, #C0C0C0, #808080);
}
.sb-bg-dl-gray {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#C0C0C0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#C0C0C0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #808080), color-stop(100%, #C0C0C0));
	background: -webkit-linear-gradient(top, #808080, #C0C0C0);
	background: -moz-linear-gradient(top, #808080, #C0C0C0);
	background: -o-linear-gradient(top, #808080, #C0C0C0);
	background: linear-gradient(top, #808080, #C0C0C0);
}
.sb-bg-ld-lgray {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#A0A0A0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#A0A0A0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E0E0E0), color-stop(100%, #A0A0A0));
	background: -webkit-linear-gradient(top, #E0E0E0, #A0A0A0);
	background: -moz-linear-gradient(top, #E0E0E0, #A0A0A0);
	background: -o-linear-gradient(top, #E0E0E0, #A0A0A0);
	background: linear-gradient(top, #E0E0E0, #A0A0A0);
}
.sb-bg-dl-lgray {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0A0A0', endColorstr='#E0E0E0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0A0A0', endColorstr='#E0E0E0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A0A0A0), color-stop(100%, #E0E0E0));
	background: -webkit-linear-gradient(top, #A0A0A0, #E0E0E0);
	background: -moz-linear-gradient(top, #A0A0A0, #E0E0E0);
	background: -o-linear-gradient(top, #A0A0A0, #E0E0E0);
	background: linear-gradient(top, #A0A0A0, #E0E0E0);
}
.sb-bg-ld-vlgray {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#C0C0C0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#C0C0C0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEEEEE), color-stop(100%, #C0C0C0));
	background: -webkit-linear-gradient(top, #EEEEEE, #C0C0C0);
	background: -moz-linear-gradient(top, #EEEEEE, #C0C0C0);
	background: -o-linear-gradient(top, #EEEEEE, #C0C0C0);
	background: linear-gradient(top, #EEEEEE, #C0C0C0);
}
.sb-bg-dl-vlgray {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0C0C0', endColorstr='#EEEEEE');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0C0C0', endColorstr='#EEEEEE')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C0C0C0), color-stop(100%, #EEEEEE));
	background: -webkit-linear-gradient(top, #C0C0C0, #EEEEEE);
	background: -moz-linear-gradient(top, #C0C0C0, #EEEEEE);
	background: -o-linear-gradient(top, #C0C0C0, #EEEEEE);
	background: linear-gradient(top, #C0C0C0, #EEEEEE);
}
.sb-bg-ld-dwhite {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#E0E0E0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#E0E0E0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #E0E0E0));
	background: -webkit-linear-gradient(top, #F0F0F0, #E0E0E0);
	background: -moz-linear-gradient(top, #F0F0F0, #E0E0E0);
	background: -o-linear-gradient(top, #F0F0F0, #E0E0E0);
	background: linear-gradient(top, #F0F0F0, #E0E0E0);
}
.sb-bg-dl-dwhite {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#F0F0F0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#F0F0F0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E0E0E0), color-stop(100%, #F0F0F0));
	background: -webkit-linear-gradient(top, #E0E0E0, #F0F0F0);
	background: -moz-linear-gradient(top, #E0E0E0, #F0F0F0);
	background: -o-linear-gradient(top, #E0E0E0, #F0F0F0);
	background: linear-gradient(top, #E0E0E0, #F0F0F0);
}
.sb-bg-ld-lpurple {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E060E0', endColorstr='#A020A0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E060E0', endColorstr='#A020A0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E060E0), color-stop(100%, #A020A0));
	background: -webkit-linear-gradient(top, #E060E0, #A020A0);
	background: -moz-linear-gradient(top, #E060E0, #A020A0);
	background: -o-linear-gradient(top, #E060E0, #A020A0);
	background: linear-gradient(top, #E060E0, #A020A0);
}
.sb-bg-dl-lpurple {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A020A0', endColorstr='#E060E0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A020A0', endColorstr='#E060E0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A020A0), color-stop(100%, #E060E0));
	background: -webkit-linear-gradient(top, #A020A0, #E060E0);
	background: -moz-linear-gradient(top, #A020A0, #E060E0);
	background: -o-linear-gradient(top, #A020A0, #E060E0);
	background: linear-gradient(top, #A020A0, #E060E0);
}
.sb-bg-ld-purple {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C040C0', endColorstr='#800080');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#C040C0', endColorstr='#800080')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C040C0), color-stop(100%, purple));
	background: -webkit-linear-gradient(top, #C040C0, purple);
	background: -moz-linear-gradient(top, #C040C0, purple);
	background: -o-linear-gradient(top, #C040C0, purple);
	background: linear-gradient(top, #C040C0, purple);
}
.sb-bg-dl-purple {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#800080', endColorstr='#C040C0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#800080', endColorstr='#C040C0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, purple), color-stop(100%, #C040C0));
	background: -webkit-linear-gradient(top, purple, #C040C0);
	background: -moz-linear-gradient(top, purple, #C040C0);
	background: -o-linear-gradient(top, purple, #C040C0);
	background: linear-gradient(top, purple, #C040C0);
}
.sb-bg-ld-dpurple {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A020A0', endColorstr='#600060');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A020A0', endColorstr='#600060')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A020A0), color-stop(100%, #600060));
	background: -webkit-linear-gradient(top, #A020A0, #600060);
	background: -moz-linear-gradient(top, #A020A0, #600060);
	background: -o-linear-gradient(top, #A020A0, #600060);
	background: linear-gradient(top, #A020A0, #600060);
}
.sb-bg-dl-dpurple {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#600060', endColorstr='#A020A0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#600060', endColorstr='#A020A0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #600060), color-stop(100%, #A020A0));
	background: -webkit-linear-gradient(top, #600060, #A020A0);
	background: -moz-linear-gradient(top, #600060, #A020A0);
	background: -o-linear-gradient(top, #600060, #A020A0);
	background: linear-gradient(top, #600060, #A020A0);
}
.sb-bg-ld-lblue {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6060FF', endColorstr='#2020FF');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6060FF', endColorstr='#2020FF')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6060FF), color-stop(100%, #2020FF));
	background: -webkit-linear-gradient(top, #6060FF, #2020FF);
	background: -moz-linear-gradient(top, #6060FF, #2020FF);
	background: -o-linear-gradient(top, #6060FF, #2020FF);
	background: linear-gradient(top, #6060FF, #2020FF);
}
.sb-bg-dl-lblue {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2020FF', endColorstr='#6060FF');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2020FF', endColorstr='#6060FF')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2020FF), color-stop(100%, #6060FF));
	background: -webkit-linear-gradient(top, #2020FF, #6060FF);
	background: -moz-linear-gradient(top, #2020FF, #6060FF);
	background: -o-linear-gradient(top, #2020FF, #6060FF);
	background: linear-gradient(top, #2020FF, #6060FF);
}
.sb-bg-ld-blue {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4040FF', endColorstr='#0000FF');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4040FF', endColorstr='#0000FF')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4040FF), color-stop(100%, blue));
	background: -webkit-linear-gradient(top, #4040FF, blue);
	background: -moz-linear-gradient(top, #4040FF, blue);
	background: -o-linear-gradient(top, #4040FF, blue);
	background: linear-gradient(top, #4040FF, blue);
}
.sb-bg-dl-blue {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000FF', endColorstr='#4040FF');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000FF', endColorstr='#4040FF')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, blue), color-stop(100%, #4040FF));
	background: -webkit-linear-gradient(top, blue, #4040FF);
	background: -moz-linear-gradient(top, blue, #4040FF);
	background: -o-linear-gradient(top, blue, #4040FF);
	background: linear-gradient(top, blue, #4040FF);
}
.sb-bg-ld-dblue {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4040F0', endColorstr='#0000D0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4040F0', endColorstr='#0000D0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4040F0), color-stop(100%, #0000D0));
	background: -webkit-linear-gradient(top, #4040F0, #0000D0);
	background: -moz-linear-gradient(top, #4040F0, #0000D0);
	background: -o-linear-gradient(top, #4040F0, #0000D0);
	background: linear-gradient(top, #4040F0, #0000D0);
}
.sb-bg-dl-dblue {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000D0', endColorstr='#4040F0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000D0', endColorstr='#4040F0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0000D0), color-stop(100%, #4040F0));
	background: -webkit-linear-gradient(top, #0000D0, #4040F0);
	background: -moz-linear-gradient(top, #0000D0, #4040F0);
	background: -o-linear-gradient(top, #0000D0, #4040F0);
	background: linear-gradient(top, #0000D0, #4040F0);
}
.sb-bg-ld-lgreen {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60E060', endColorstr='#20A020');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#60E060', endColorstr='#20A020')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #60E060), color-stop(100%, #20A020));
	background: -webkit-linear-gradient(top, #60E060, #20A020);
	background: -moz-linear-gradient(top, #60E060, #20A020);
	background: -o-linear-gradient(top, #60E060, #20A020);
	background: linear-gradient(top, #60E060, #20A020);
}
.sb-bg-dl-lgreen {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20A020', endColorstr='#60E060');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#20A020', endColorstr='#60E060')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #20A020), color-stop(100%, #60E060));
	background: -webkit-linear-gradient(top, #20A020, #60E060);
	background: -moz-linear-gradient(top, #20A020, #60E060);
	background: -o-linear-gradient(top, #20A020, #60E060);
	background: linear-gradient(top, #20A020, #60E060);
}
.sb-bg-ld-green {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40C040', endColorstr='#008000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#40C040', endColorstr='#008000')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40C040), color-stop(100%, green));
	background: -webkit-linear-gradient(top, #40C040, green);
	background: -moz-linear-gradient(top, #40C040, green);
	background: -o-linear-gradient(top, #40C040, green);
	background: linear-gradient(top, #40C040, green);
}
.sb-bg-dl-green {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008000', endColorstr='#40C040');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#008000', endColorstr='#40C040')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, green), color-stop(100%, #40C040));
	background: -webkit-linear-gradient(top, green, #40C040);
	background: -moz-linear-gradient(top, green, #40C040);
	background: -o-linear-gradient(top, green, #40C040);
	background: linear-gradient(top, green, #40C040);
}
.sb-bg-ld-dgreen {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40A040', endColorstr='#006000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#40A040', endColorstr='#006000')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40A040), color-stop(100%, #006000));
	background: -webkit-linear-gradient(top, #40A040, #006000);
	background: -moz-linear-gradient(top, #40A040, #006000);
	background: -o-linear-gradient(top, #40A040, #006000);
	background: linear-gradient(top, #40A040, #006000);
}
.sb-bg-dl-dgreen {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006000', endColorstr='#40A040');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#006000', endColorstr='#40A040')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006000), color-stop(100%, #40A040));
	background: -webkit-linear-gradient(top, #006000, #40A040);
	background: -moz-linear-gradient(top, #006000, #40A040);
	background: -o-linear-gradient(top, #006000, #40A040);
	background: linear-gradient(top, #006000, #40A040);
}
.sb-bg-ld-lred {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6060', endColorstr='#FF2020');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6060', endColorstr='#FF2020')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF6060), color-stop(100%, #FF2020));
	background: -webkit-linear-gradient(top, #FF6060, #FF2020);
	background: -moz-linear-gradient(top, #FF6060, #FF2020);
	background: -o-linear-gradient(top, #FF6060, #FF2020);
	background: linear-gradient(top, #FF6060, #FF2020);
}
.sb-bg-dl-lred {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF2020', endColorstr='#FF6060');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF2020', endColorstr='#FF6060')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF2020), color-stop(100%, #FF6060));
	background: -webkit-linear-gradient(top, #FF2020, #FF6060);
	background: -moz-linear-gradient(top, #FF2020, #FF6060);
	background: -o-linear-gradient(top, #FF2020, #FF6060);
	background: linear-gradient(top, #FF2020, #FF6060);
}
.sb-bg-ld-red {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4040', endColorstr='#FF0000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4040', endColorstr='#FF0000')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF4040), color-stop(100%, red));
	background: -webkit-linear-gradient(top, #FF4040, red);
	background: -moz-linear-gradient(top, #FF4040, red);
	background: -o-linear-gradient(top, #FF4040, red);
	background: linear-gradient(top, #FF4040, red);
}
.sb-bg-dl-red {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#FF4040');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#FF4040')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, red), color-stop(100%, #FF4040));
	background: -webkit-linear-gradient(top, red, #FF4040);
	background: -moz-linear-gradient(top, red, #FF4040);
	background: -o-linear-gradient(top, red, #FF4040);
	background: linear-gradient(top, red, #FF4040);
}
.sb-bg-ld-dred {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F04040', endColorstr='#D00000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F04040', endColorstr='#D00000')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F04040), color-stop(100%, #D00000));
	background: -webkit-linear-gradient(top, #F04040, #D00000);
	background: -moz-linear-gradient(top, #F04040, #D00000);
	background: -o-linear-gradient(top, #F04040, #D00000);
	background: linear-gradient(top, #F04040, #D00000);
}
.sb-bg-dl-dred {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D00000', endColorstr='#F04040');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#D00000', endColorstr='#F04040')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D00000), color-stop(100%, #F04040));
	background: -webkit-linear-gradient(top, #D00000, #F04040);
	background: -moz-linear-gradient(top, #D00000, #F04040);
	background: -o-linear-gradient(top, #D00000, #F04040);
	background: linear-gradient(top, #D00000, #F04040);
}
.sb-bg-ld-lorange {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF560', endColorstr='#FFC520');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF560', endColorstr='#FFC520')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF560), color-stop(100%, #FFC520));
	background: -webkit-linear-gradient(top, #FFF560, #FFC520);
	background: -moz-linear-gradient(top, #FFF560, #FFC520);
	background: -o-linear-gradient(top, #FFF560, #FFC520);
	background: linear-gradient(top, #FFF560, #FFC520);
}
.sb-bg-dl-lorange {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC520', endColorstr='#FFF560');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC520', endColorstr='#FFF560')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFC520), color-stop(100%, #FFF560));
	background: -webkit-linear-gradient(top, #FFC520, #FFF560);
	background: -moz-linear-gradient(top, #FFC520, #FFF560);
	background: -o-linear-gradient(top, #FFC520, #FFF560);
	background: linear-gradient(top, #FFC520, #FFF560);
}
.sb-bg-ld-orange {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE040', endColorstr='#FFA500');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE040', endColorstr='#FFA500')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFE040), color-stop(100%, orange));
	background: -webkit-linear-gradient(top, #FFE040, orange);
	background: -moz-linear-gradient(top, #FFE040, orange);
	background: -o-linear-gradient(top, #FFE040, orange);
	background: linear-gradient(top, #FFE040, orange);
}
.sb-bg-dl-orange {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA500', endColorstr='#FFE040');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA500', endColorstr='#FFE040')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, orange), color-stop(100%, #FFE040));
	background: -webkit-linear-gradient(top, orange, #FFE040);
	background: -moz-linear-gradient(top, orange, #FFE040);
	background: -o-linear-gradient(top, orange, #FFE040);
	background: linear-gradient(top, orange, #FFE040);
}
.sb-bg-ld-dorange {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0C040', endColorstr='#D00000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0C040', endColorstr='#D08000')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0C040), color-stop(100%, #D08000));
	background: -webkit-linear-gradient(top, #F0C040, #D08000);
	background: -moz-linear-gradient(top, #F0C040, #D08000);
	background: -o-linear-gradient(top, #F0C040, #D08000);
	background: linear-gradient(top, #F0C040, #D08000);
}
.sb-bg-dl-dorange {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D08000', endColorstr='#F0C040');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#D08000', endColorstr='#F0C040')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D08000), color-stop(100%, #F0C040));
	background: -webkit-linear-gradient(top, #D08000, #F0C040);
	background: -moz-linear-gradient(top, #D08000, #F0C040);
	background: -o-linear-gradient(top, #D08000, #F0C040);
	background: linear-gradient(top, #D08000, #F0C040);
}
.sb-bg-ld-lnavy {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6060E0', endColorstr='#2020A0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6060E0', endColorstr='#2020A0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6060E0), color-stop(100%, #2020A0));
	background: -webkit-linear-gradient(top, #6060E0, #2020A0);
	background: -moz-linear-gradient(top, #6060E0, #2020A0);
	background: -o-linear-gradient(top, #6060E0, #2020A0);
	background: linear-gradient(top, #6060E0, #2020A0);
}
.sb-bg-dl-lnavy {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2020A0', endColorstr='#6060E0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2020A0', endColorstr='#6060E0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2020A0), color-stop(100%, #6060E0));
	background: -webkit-linear-gradient(top, #2020A0, #6060E0);
	background: -moz-linear-gradient(top, #2020A0, #6060E0);
	background: -o-linear-gradient(top, #2020A0, #6060E0);
	background: linear-gradient(top, #2020A0, #6060E0);
}
.sb-bg-ld-navy {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4040C0', endColorstr='#000080');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4040C0', endColorstr='#000080')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4040C0), color-stop(100%, navy));
	background: -webkit-linear-gradient(top, #4040C0, navy);
	background: -moz-linear-gradient(top, #4040C0, navy);
	background: -o-linear-gradient(top, #4040C0, navy);
	background: linear-gradient(top, #4040C0, navy);
}
.sb-bg-dl-navy {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000080', endColorstr='#4040C0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000080', endColorstr='#4040C0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, navy), color-stop(100%, #4040C0));
	background: -webkit-linear-gradient(top, navy, #4040C0);
	background: -moz-linear-gradient(top, navy, #4040C0);
	background: -o-linear-gradient(top, navy, #4040C0);
	background: linear-gradient(top, navy, #4040C0);
}
.sb-bg-ld-dnavy {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4040A0', endColorstr='#000060');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4040A0', endColorstr='#000060')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4040A0), color-stop(100%, #000060));
	background: -webkit-linear-gradient(top, #4040A0, #000060);
	background: -moz-linear-gradient(top, #4040A0, #000060);
	background: -o-linear-gradient(top, #4040A0, #000060);
	background: linear-gradient(top, #4040A0, #000060);
}
.sb-bg-dl-dnavy {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000060', endColorstr='#4040A0');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000060', endColorstr='#4040A0')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000060), color-stop(100%, #4040A0));
	background: -webkit-linear-gradient(top, #000060, #4040A0);
	background: -moz-linear-gradient(top, #000060, #4040A0);
	background: -o-linear-gradient(top, #000060, #4040A0);
	background: linear-gradient(top, #000060, #4040A0);
}
.sb-bg-ld-black, .sb-bg-dl-black, .sb-bg-black {
	background-color: black;
}
.sb-bg-ld-lblack, .sb-bg-dl-lblack, .sb-bg-lblack {
	background-color: #202020;
}
.sb-bg-ld-vlblack, .sb-bg-dl-vlblack, .sb-bg-vlblack {
	background-color: #404040;
}
.sb-bg-ld-dgray, .sb-bg-dl-dgray, .sb-bg-dgray {
	background-color: #606060;
}
.sb-bg-ld-gray, .sb-bg-dl-gray, .sb-bg-gray {
	background-color: gray;
}
.sb-bg-ld-lgray, .sb-bg-dl-lgray, .sb-bg-lgray {
	background-color: #A0A0A0;
}
.sb-bg-ld-vlgray, .sb-bg-dl-vlgray, .sb-bg-vlgray {
	background-color: #C0C0C0;
}
.sb-bg-ld-dwhite, .sb-bg-dl-dwhite, .sb-bg-dwhite {
	background-color: #E0E0E0;
}
.sb-bg-ld-white, .sb-bg-dl-white, .sb-bg-white {
	background-color: white;
}
.sb-bg-ld-lpurple, .sb-bg-dl-lpurple, .sb-bg-lpurple {
	background-color: #A020A0;
}
.sb-bg-ld-purple, .sb-bg-dl-purple, .sb-bg-purple {
	background-color: purple;
}
.sb-bg-ld-dpurple, .sb-bg-dl-dpurple, .sb-bg-dpurple {
	background-color: #600060;
}
.sb-bg-ld-lblue, .sb-bg-dl-lblue, .sb-bg-lblue {
	background-color: #2020FF;
}
.sb-bg-ld-blue, .sb-bg-dl-blue, .sb-bg-blue {
	background-color: blue;
}
.sb-bg-ld-dblue, .sb-bg-dl-dblue, .sb-bg-dblue {
	background-color: #0000D0;
}
.sb-bg-ld-lgreen, .sb-bg-dl-lgreen, .sb-bg-lgreen {
	background-color: #20A020;
}
.sb-bg-ld-green, .sb-bg-dl-green, .sb-bg-green {
	background-color: green;
}
.sb-bg-ld-dgreen, .sb-bg-dl-dgreen, .sb-bg-dgreen {
	background-color: #006000;
}
.sb-bg-ld-lred, .sb-bg-dl-lred, .sb-bg-lred {
	background-color: #FF2020;
}
.sb-bg-ld-red, .sb-bg-dl-red, .sb-bg-red {
	background-color: red;
}
.sb-bg-ld-dred, .sb-bg-dl-dred, .sb-bg-dred {
	background-color: #D00000;
}
.sb-bg-ld-lorange, .sb-bg-dl-lorange, .sb-bg-lorange {
	background-color: #FFC520;
}
.sb-bg-ld-orange, .sb-bg-dl-orange, .sb-bg-orange {
	background-color: orange;
}
.sb-bg-ld-dorange, .sb-bg-dl-dorange, .sb-bg-dorange {
	background-color: #D08000;
}
.sb-bg-ld-lnavy, .sb-bg-dl-lnavy, .sb-bg-lnavy {
	background-color: #2020A0;
}
.sb-bg-ld-navy, .sb-bg-dl-navy, .sb-bg-navy {
	background-color: navy;
}
.sb-bg-ld-dnavy, .sb-bg-dl-dnavy, .sb-bg-dnavy {
	background-color: #000060;
}
.sb-bg-noimg {
	background-image: none;
}
.sb-bg-noclr {
	background-color: inherit;
}

.sb-shdw-ilv-white {
	-moz-box-shadow: 0px 1px 0px 0px #ffffff inset;
	-webkit-box-shadow: 0px 1px 0px 0px #ffffff inset;
	-o-box-shadow: 0px 1px 0px 0px #ffffff inset;
	box-shadow: 0px 1px 0px 0px #ffffff inset;
}
.sb-shdw-imv-white {
	-moz-box-shadow: 0px 3px 0px 0px #ffffff inset;
	-webkit-box-shadow: 0px 3px 0px 0px #ffffff inset;
	-o-box-shadow: 0px 3px 0px 0px #ffffff inset;
	box-shadow: 0px 3px 0px 0px #ffffff inset;
}
.sb-shdw-ihv-white {
	-moz-box-shadow: 0px 7px 0px 0px #ffffff inset;
	-webkit-box-shadow: 0px 7px 0px 0px #ffffff inset;
	-o-box-shadow: 0px 7px 0px 0px #ffffff inset;
	box-shadow: 0px 7px 0px 0px #ffffff inset;
}
.sb-tshdw-lv-white {
	text-shadow: 0px 1px 0px #FFFFFF;
}
.sb-tshdw-mv-white {
	text-shadow: 0px 3px 0px #FFFFFF;
}
.sb-tshdw-hv-white {
	text-shadow: 0px 5px 0px #FFFFFF;
}
a.sb-btn, .sb-txt-btn-m-white {
	text-decoration: none;
	font-family: "Trebuchet MS", Sans-Serif;
	font-size: 12px;
	font-weight: 600;
	color: White;
}
a.sb-btn, .sb-txt-mid {
	text-align: center;
}
.sb-txt, .sb-hdr, .sb-frm {
	font-family: "Calibri" , "Consolas" , "Comic Sans MS" , Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	text-align: justify;
}
.sb-hdr {
	font-family: "Trebuchet MS" , "Comic Sans MS" , Sans-Serif;
	font-size: 24px;
	font-weight: 800;
	font-variant: small-caps;
	text-align: left;
}


/* Background Colours */
