﻿/* -----------------------------------------------------
	  Stylesheet for Sammelana
	  Subhajit Sahu, Copyright (c) 2013.
	  All rights reserved.

	  This file can be freely used, modifed / updated
	  provided that the original author is credited.
   ----------------------------------------------------- */
/* File Created: January 11, 2013 */

body {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-family: "Trebuchet MS", Arial, Sans-Serif;
}
a, .sb-menu a, .sb-form a {
	text-decoration: none;
}
a:hover, .sb-menu a:hover, .sb-form a:hover {
	color: #4466DD;
}
.sb-hdr {
	width: 100%;
	border-bottom: 1px solid #EEEEEE;
	font-family: "Helvetica", "Trebuchet MS", Arial, Sans-Serif;
	font-size: 24px;
	padding: 20px 0px 20px 0px;
	background-color: white;
}
.sb-hdr-ttl {
	padding-left: 60px;
}
.sb-hdr-menu {
	float: right;
	margin-top: 0px;
	padding-right: 24px;
}
.sb-hdr-menu a:hover {
	text-decoration: none;
}
.sb-menu {
	width: 100%;
	border-bottom: 1px solid #E0E0E0;
	font-family: "Trebuchet MS", Arial, Sans-Serif;
	font-weight: bold;
	font-size: 14px;
	margin: 0px;
	padding: 2px 0px 2px 0px;
	background-color: #EEEEEE;
	text-align: center;
	vertical-align: middle;
}
.sb-menu ul {
	padding-left: 36px;
	list-style-type: none;
	overflow: hidden;
	margin: 0px;
}
.sb-menu li {
	float: left;
}
.sb-menu a {
	display: block;
	padding: 12px 25px 12px 25px;
	-ms-transition: background 1s;
	-moz-transition: background 1s;
	-webkit-transition: background 1s;
	-o-transition: background 1s;
	transition: background 1s;
}
.sb-menu a:hover {
	background-color: #E0E0E0;
}
.sb-body {
	background-color: #FAFAFA;
	padding: 32px 20px 20px 32px;
}
.sb-ftr {
	color: gray;
	font-family: "Calibri", Arial, Sans-Serif;
	font-size: 12px;
	background-color: #DDDDDD;
	text-align: center;
	padding: 20px 0px 20px 0px;
	border-top: 1px solid #D0D0D0;
}
.sb-block {
	padding: 10px 15px 10px 15px;
	background-color: #EEEEEE;
	color: #202080;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
}
.sb-msg-imp {
	font-size: 9px;
	font-weight: 500;
	background-color: black;
	color: white;
}
.sb-hdn {
	display: none;
}
.sb-mid {
	text-align: center;
}
.sb-cntr {
	margin: 0 auto;
}
.sb-full {
	width: 100%;
}
.sb-form {
	padding: 12px 24px 24px 24px;
	font-family: "Helvetica", "Trebuchet MS", Arial, Sans-Serif;
	font-size: 12px;
	border: 1px solid #E0E0E0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #F0F0F0;
}
.sb-form h3, .sb-form h4 {
	margin-top: 32px;
	padding-top: 0px;
	margin-bottom: 8px;
	padding-bottom: 0px;
}
.sb-form hr {
	color: #E0E0E0;
	margin: 10px 0px 32px 0px;
}
.sb-form .sb-btn {
	margin-top: 32px;
	padding-top: 0px;
}
/*
.sb-form:first-child {
	padding-top: 0px;
	margin-top: 0px;
}
.sb-form:last-child {
	padding-top: 32px;
	padding-bottom: 24px;
	margin-bottom: 24px;
}
*/
.sb-error {
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	color: red;
	font-style: italic;
}
.sb-hdr-med, .sb-txt-med {
	font-size: 14px;
}
.sb-hdr-med {
	text-align: center;
}
.sb-txt-med {
	text-align: justify;
}

.sb-bg-dl-white {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#F8F8F8');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#F8F8F8')";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E8E8E8), color-stop(100%, #F8F8F8));
	background: -webkit-linear-gradient(top, #E8E8E8, #F8F8F8);
	background: -moz-linear-gradient(top, #E8E8E8, #F8F8F8);
	background: -o-linear-gradient(top, #E8E8E8, #F8F8F8);
	background: linear-gradient(top, #E8E8E8, #F8F8F8);
	background-color: #F0F0F0;
}
.sb-noise {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAASUlEQVR42u2VsQ0AMAjDkLiRJ/Mk3UuGLBUd4tESEzJEVWVcABiuu4dTZ80+qTh1ycyZZVh5aqGqM8uoNTLH6vaSP0T9vz7Xzziz7ikjHXk23AAAAABJRU5ErkJggg==);
}
.sb-pad {
	padding: 20px;
}
.sb-spad {
	padding: 10px;
}
.sb-box {
	width: 100%;
	background-color: #BBBBBB;
}
.sb-note 
{
	font-family: Arial, Sans-Serif;
	font-variant: small-caps;
}
 
a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
	z-index:10;display:none; padding:14px 20px;
	margin-top:-30px; margin-left:28px;
	width:240px; line-height:16px;
}
a.tooltip:hover span{
	display:inline; position:absolute; color:#111;
	border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
	
/*CSS3 extras*/
a.tooltip span
{
	border-radius:4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
		
	-moz-box-shadow: 5px 5px 8px #CCC;
	-webkit-box-shadow: 5px 5px 8px #CCC;
	box-shadow: 5px 5px 8px #CCC;
}

.sbMsgHdr, .sbMsgHdrImp, .sbMsgTxt, .sbMsgTxtImp {
	font-family: "Calibri", "Trebuchet MS", "Arial", Sans-Serif;
	font-size: 16px;
}
.sbMsgHdrImp {
	font-variant: small-caps;
	font-weight: bold;
}
.sbMsgTxt, .sbMsgTxtImp {
	font-size: 12px;
}
.sbMsgTxtImp {
	font-style:italic;
}
.sbCmd, .sbCmdHdr, .sbCmdTxt, .sbCmdOut
{
	background-color: Black;
	padding: 16px;
	font-family: Agency FB, Lucida Console, Consolas, Calibri, Trebuchet MS, Sans-Serif;
	font-size: 16px;
	font-weight: bold;
	color: #80FF80;
}
.sbCmdHdr
{
	border: 4px solid #206020;
	margin-bottom: 32px;
	background-color: #207020;
	font-size: 26px;
	text-align: center;
}
.sbCmdOut
{
	color: Yellow;
	margin: 0px;
}
.sbCmdOut table
{
    text-align: center;
    width: 100%;
}
.sbCmdOut th
{
    color: #F0F0A0;
    background-color: #404020;
}
.sbCmdOut td
{
    border: 1px dotted #404020;
}
.sbCmdOut hr
{
	border-color: Green;
}
.sbForm input[type="text"] {
	font-family: "Consolas", Arial, Sans-Serif;
}