﻿/*
Buttons
	-
Input Fields
	-

*/

/* First of all i need to deal with forms where each form can have several form pages and each form input has a form label and a form input */
.sb-frm {
	margin: 0px;
	border: 1px solid #DDDDDD;
	padding: 20px;
	background-color: #EEEEEE;
	text-align: left;
	font-family: "Trebuchet MS" , Arial, Sans-Serif;
	font-size: 12px;
	color: Gray;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: normal;
	line-height: normal;
}

body {
	margin: 0px;
}
.mid
{
	text-align: center;
}
.full
{
	width: 100%;
}
.msg-imp
{
	display: block;
	padding: 2px;
	text-align: center;
	font-family: "Trebuchet MS" , Arial, Sans-Serif;
	font-weight: bold;
	background-color: #202020;
	font-size: 10px;
	color: White;
	border-bottom: 1px solid Black;
}
.txt-cap
{
	padding: 0px 0px 32px 0px;
	font-family: "Trebuchet MS" , Sans-Serif;
	font-weight: bolder;
	font-size: 24px;
	color: #7788FF;
}
.txt-hd
{
	margin: 20px 0px 2px 0px;
}
.txt-hd-bg
{
	margin: 25px 0px 10px 0px;
}
.txt-hd-bgt
{
	margin: 25px 0px 25px 0px;
}
.txt-bdy
{
	margin: 2px 0px 2px 0px;
}
.gray-bck
{
	padding: 24px;
	border: 1px solid #DDDDDD;
	background-color: #E0E0E0;
}
.vld
{
	color: Red;
	font-size: 12px;
	font-style: italic;
	width: 100%;
}
.sz-sm
{
	font-size: 13px;
}
.sz-smr
{
	font-size: 10px;
}
.inv
{
	visibility: hidden;
}
.hdn
{
	display: none;
}
.txt-fdr
{
	color: Black;
}
.sep-hdr
{
	margin: 10px 0px 30px 0px;
}
.hdr
{
	width: 100%;
	padding: 10px 10px 10px 40px;
	font-family: "Trebuchet MS" , Arial, Sans-Serif;
	color: #0033CC;
	background-color: #EEEEEE;
}
.btn-hd
{
	text-decoration: none;
	border: 1px solid #495267;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Helvetica, Sans-serif;
	padding: 10px 10px 10px 10px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	background-color: #606c88;
	background-image: linear-gradient(top, #303644, #202636);
}
.btn-hd:hover
{
	border: 1px solid #363d4c;
	background-color: #4b546a;
	background-image: linear-gradient(top, #4b546a, #2c354b);
}

.Pg
{
	background-color: White;
	border: 1px solid Gray;
	padding: 20px 20px 20px 20px;
}
.PgGap
{
	margin: 10px 50px 10px 50px;
}
.PgBorder
{
	margin: 0px;
	border-left: 64px solid Gray;
	border-right: 64px solid Gray;
}
.Ftr
{
	margin: 0px auto;
	padding: 8px 0px 6px 0px;
	background-color: #F0F0F0;
	color: Navy;
	text-align: center;
	line-height: normal;
}
.Nav
{
	text-align: center;
	margin: 0px;
	padding: 4px;
	border: 1px solid #B9FFB9;
	background-color: #DDFFDD;
}
.Nav a:link, .Nav a:hover, .Nav a:active, .Nav a:visited
{
	padding: 1px 5px 1px 5px;
	margin: 3px 0px 3px 0px;
	border: 3px solid #FF6666;
	background-color: #FF5050;
	font-family: "Comic Sans MS" , "Courier New" , Sans-Serif;
	font-weight: bold;
	color: White;
	text-align: center;
	text-decoration: none;
}
.Nav a:hover
{
	background-color: #FF4040;
}
.Nav a:active
{
	color: #FFEEEE;
}

.LnkBtn_Red:link, .LnkBtn_Red:hover, .LnkBtn_Red:active, .LnkBtn_Red:visited
{
	padding: 1px 5px 1px 5px;
	margin: 3px 5px 3px 5px;
	border: 3px solid #FF6666;
	background-color: #FF5050;
	font-family: "Comic Sans MS" , "Courier New" , Sans-Serif;
	font-weight: bold;
	color: White;
	text-align: center;
	text-decoration: none;
}
.LnkBtn_Red:hover
{
	background-color: #FF4040;
}
.LnkBtn_Red:active
{
	color: #FFEEEE;
}

.LnkBtn_Green:link, .LnkBtn_Green:hover, .LnkBtn_Green:active, .LnkBtn_Green:visited
{
	padding: 1px 5px 1px 5px;
	margin: 3px 5px 3px 5px;
	border: 3px solid #66FF66;
	background-color: #50FF50;
	font-family: "Comic Sans MS" , "Courier New" , Sans-Serif;
	font-weight: bold;
	color: White;
	text-align: center;
	text-decoration: none;
}
.LnkBtn_Green:hover
{
	background-color: #40FF40;
}
.LnkBtn_Green:active
{
	color: #EEFFEE;
}

.LnkBtn_Blue:link, .LnkBtn_Blue:hover, .LnkBtn_Blue:active, .LnkBtn_Blue:visited
{
	padding: 1px 5px 1px 5px;
	margin: 3px 5px 3px 5px;
	border: 3px solid #66FF66;
	background-color: #50FF50;
	font-family: "Comic Sans MS" , "Courier New" , Sans-Serif;
	font-weight: bold;
	color: White;
	text-align: center;
	text-decoration: none;
}
.LnkBtn_Blue:hover
{
	background-color: #40FF40;
}
.LnkBtn_Blue:active
{
	color: #EEFFEE;
}

.RedBg
{
	border: 3px solid #FF6666;
	background-color: #FF5050;
}
.GreenBg
{
	border: 3px solid #66FF66;
	background-color: #50FF50;
}
.BlueBg
{
	border: 3px solid #6666FF;
	background-color: #5050FF;
}

fieldset p
{
	margin: 2px 12px 10px 10px;
}
fieldset.login label, fieldset.register label, fieldset.changePassword label
{
	display: block;
}
fieldset label.inline
{
	display: inline;
}
input.textEntry
{
	width: 320px;
	border: 1px solid #ccc;
}
input.passwordEntry
{
	width: 320px;
	border: 1px solid #ccc;
}
div.accountInfo
{
	width: 42%;
}