﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Pages/Main.Master" AutoEventWireup="true" CodeBehind="AbtUs.aspx.cs" Inherits="Sammelana_NITR.Pages.Cmn.AbtUs" %>
<asp:Content ID="AbtUs_Head" ContentPlaceHolderID="Main_Head" runat="server">
</asp:Content>
<asp:Content ID="AbtUs_Body" ContentPlaceHolderID="Main_Body" runat="server">
<div class="PgGap mid">
<h4>This is where we need to give a description about NIT, dev. team, etc.</h4>
<p>Be innovative, we need some good work on this page. But i guess it should not be too stylish. Keep it small and simple.</p>
</div>
</asp:Content>
