﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Pages/Main.Master" AutoEventWireup="true" CodeBehind="Mng.aspx.cs" Inherits="Sammelana_NITR.Pages.Cnf.Mng" %>
<asp:Content ID="Mng_Head" ContentPlaceHolderID="Main_Head" runat="server">
</asp:Content>
<asp:Content ID="Mng_Body" ContentPlaceHolderID="Main_Body" runat="server">
	<form id="form1" runat="server">
<p>
	Add People<asp:TextBox ID="TextBox11" runat="server"></asp:TextBox>
</p>
<p>
	Add Contacts<asp:TextBox ID="TextBox12" runat="server"></asp:TextBox>
</p>
	<p>
		Add Fields<asp:TextBox ID="TextBox20" runat="server"></asp:TextBox>
</p>
	<p>
		Add Timings
	<asp:TextBox ID="TextBox21" runat="server"></asp:TextBox>
</p>
	<p>
		&nbsp;</p>
<p>
	Conference Title
	<asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
	<br />
	Conference Acronym
	<asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
	<br />
	Category
	<asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
	<br />
	Begin Time
	<asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
	<br />
	End Time<asp:TextBox ID="TextBox5" runat="server"></asp:TextBox>
	<br />
	Description
	<asp:TextBox ID="TextBox6" runat="server"></asp:TextBox>
	<br />
	Fields
	<asp:TextBox ID="TextBox17" runat="server"></asp:TextBox>
	<br />
	Information 
	<asp:TextBox ID="TextBox7" runat="server"></asp:TextBox>
	<br />
	PCs<asp:TextBox ID="TextBox15" runat="server"></asp:TextBox>
	<br />
	Management Password (if required)
	<asp:TextBox ID="TextBox8" runat="server"></asp:TextBox>
	<br />
	Contacts
	<asp:TextBox ID="TextBox16" runat="server"></asp:TextBox>
	<br />
	At
	<asp:TextBox ID="TextBox9" runat="server"></asp:TextBox>
	<br />
	Area
	<asp:TextBox ID="TextBox10" runat="server"></asp:TextBox>
	<br />
	City
	<asp:TextBox ID="TextBox18" runat="server"></asp:TextBox>
	<br />
	State
	<asp:TextBox ID="TextBox19" runat="server"></asp:TextBox>
	<br />
	Country
	<asp:TextBox ID="TextBox13" runat="server"></asp:TextBox>
	<br />
	PIN
	<asp:TextBox ID="TextBox14" runat="server"></asp:TextBox>
	</p>
</form>
</asp:Content>
