﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Pages/Main.Master" AutoEventWireup="true" CodeBehind="Fetch.aspx.cs" Inherits="Sammelana_NITR.Pages.Ppr.Fetch" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Main_Head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Main_Body" runat="server">
</asp:Content>
